.column-bordered-table td {
  border-left: 1px solid #c3c3c3;
}
.column-bordered-table td:last-child {
  border-right: 1px solid #c3c3c3;
}

.column-bordered-table tr:hover {
  background-color: skyblue;
}

.column-bordered-table th {
  background-color: steelblue;
}

.column-bordered-table {
  border-spacing: 0;
  border-collapse: separate;
  border: solid #ccc 1px;
  border-radius: 6px;
}
