.CreateCompanyStoreWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CreateCompanyStoreWrapper button{
    margin-top: 20px;
    width: 6vw;
}