
.mainDisplay {
  display: flexbox;
  height: 100vh;
  width: 100vw;
}

.mainDisplayBottom
{
    align-self: flex-end;
    background-color: var(--col2);
    width: 100vw;
    height: 30px;    
}

/* _______________________________________________SIDE */

.sideMenuContainer{
  height: calc(100% - 30px);
  width: 20%;
  background-color: var(--col1);
}



/* .mainDisplayBottom {
  background-color: #112d32;
  width: 100%;
  height: 3vh;
  opacity: 0.9;
}

.logedInUser {
  position: absolute;
  right: 10px;
  width: 0px;
  height: 0;
  border-top: 3vh solid #4f4a41;
  border-bottom: 0px solid transparent;
  border-left: 5vw solid transparent;
  border-right: 10vw solid #4f4a41;
  transition: 1s;
}

.logedInUser > p {
  padding: 0;
  position: absolute;
  margin-top: -2.7vh;
  margin-left: 1vw;
  color: #88dbbc;
  font-size: 16px;
  font-family: "Century Gothic";
}

.mainDisplayLogin {
  position: absolute;
  right: 10px;
  width: 0px;
  height: 0;
  border-top: 3vh solid #4f4a41;
  border-bottom: 0px solid transparent;
  border-left: 5vw solid transparent;
  border-right: 10vw solid #4f4a41;
  transition: 0.5s;
}

.mainDisplayLogin:hover {
  cursor: pointer;
  border-top: 3vh solid #88dbbc;
  border-right: 10vw solid #88dbbc;
}

.mainDisplayLogin:hover p {
  color: black;
  font-weight: bold;
}

.mainDisplayLogin > p {
  padding: 0;
  position: absolute;
  margin-top: -2.7vh;
  margin-left: 1vw;
  color: #88dbbc;
  font-size: 16px;
  font-family: "Century Gothic";
} */
