body {
  background-image: url("./images/comm.jpg");
}

button {
  background-color: steelblue;
  border: 1px solid black;
  cursor: pointer;
  padding: 7px 10px;
  transition: 0.3s;
  font-size: 17px;
  color: black;
}

button:hover {
  border: 1px solid black;
  cursor: pointer;
  padding: 7px 10px;
  font-size: 17px;
  background-color: skyblue;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
