:root {
  --primary: steelblue;
  --hoverColor: skyblue;
  --col4: #88dbbc;
  --col1: #254e58;
  --col2: #112d32;
  --col3: #4f4a41;
  --col31: #6e6658;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/backgroudn4.jpg");

  background-size: cover;
  margin: 0;
  font-family: "Century Gothic";
}
