.fbc-split {
  height: 98vh;
  z-index: 1;
  top: 0;
  padding: 0;
  overflow-x: hidden;
  opacity: 0.9;
  border-radius: 10;
  background-color: aqua;
}

.fbc-left {
  float: left;
}

.fbc-right {
  float: right;
}
