/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
  font-size: 17px;
}

.tabVertical button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0px;
  transition: 0.5s;
  font-size: 17px;
  border: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.tabVertical button:hover {
  background-color: #ddd;
}

.tab-vertical {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  margin: -10;
}
