.cards {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 97vh;
}

.card-L,
.card-M,
.card-S {
  float: left;
  border-radius: 4px;
  min-height: 50vh;
  padding: 20px;
  margin: 10px 10px 0px 0px;
  background-color: rgba(37, 78, 88, 0.95);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.24);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.24);
  outline: 1px solid rgba(0, 0, 0, 0.05);
}
.card-L {
  width: calc(100% - 10px);
}
.card-M {
  width: calc(100% * (2 / 3) - 10px);
}
.card-S {
  width: 300px;
  height: calc(100% * (1 / 5) - 10px);
}

.card-S h2 {
  margin: 0;
}
